body{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    text-align: center;
    background-color: #07080C;
    color: #fdf0d5;
}
.App{
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    text-align: center;
    color: #fdf0d5;
}
