body {
  margin: 0;
}
body::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #426367;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #000000;
}